body
  margin:0% auto
  background: #eaeaea
  font-family: 'Open Sans', sans-serif

.info
  p
    text-align: center
    color: #999
    text-transform: none
    font-weight: 600
    font-size: 15px
    margin-top: 2px

  i
    color: #F6AA93

form
  h1
    font-size: 18px
    background: #F6AA93 none repeat scroll 0% 0%
    color: rgb(255, 255, 255)
    padding: 2px 5px
    border-radius: 5px 5px 0px 0px
    margin: 0% auto
    text-shadow: none
    text-align: left

  border-radius: 5px
  max-width: 700px
  width: 100%
  margin: 0% auto
  background-color: #FFFFFF
  overflow: hidden

p
  span
    color: #F00

  margin: 0px
  font-weight: 500
  line-height: 2
  color: #333

h1
  text-align: center
  color: #666
  text-shadow: 1px 1px 0px #FFF
  margin: 50px 0px 0px 0px

.inpu
  border-radius: 0px 5px 5px 0px
  border: 1px solid #eee
  margin-bottom: 15px
  width: 75%
  height: 40px
  float: left
  padding: 0px 15px

input
  width: 90%
  height: 55px

select
  border-radius: 0px 5px 5px 0px
  border: 1px solid #eee
  margin-bottom: 15px
  width: 75%
  height: 40px
  float: left
  padding: 0px 15px
a
  text-decoration: inherit

textarea
  border-radius: 0px 5px 5px 0px
  border: 1px solid #EEE
  margin: 0
  width: 75%
  height: 110px
  float: left
  padding: 0px 15px

.form-group
  overflow: hidden
  clear: both

.icon-case
  width: 35px
  float: left
  border-radius: 5px 0px 0px 5px
  background: #eeeeee
  height: 42px
  position: relative
  text-align: center
  line-height: 40px

i
  color: #555

.contentform
  padding: 40px 30px

.bouton-contact
  background-color: #8D43AC
  color: #FFF
  text-align: center
  width: 100%
  border: 0
  padding: 3px 15px
  border-radius: 0px 0px 5px 5px
  cursor: pointer
  margin-top: 40px
  font-size: 18px

.bouton-contactt
  background-color: #8D43AC
  color: #FFF
  text-align: center
  width: 50%
  border: 0
  padding: 17px 25px
  border-radius: 0px 0px 5px 5px
  cursor: pointer
  margin-top: 40px
  font-size: 16px
.espace
  width:50%
  height:50%
.leftcontact
  width: 49.5%
  float: left
  border-right: 1px dotted #CCC
  box-sizing: border-box
  padding: 0px 15px 0px 0px

.rightcontact
  width: 49.5%
  float: right
  box-sizing: border-box
  padding: 0px 0px 0px 15px

.validation
  display: none
  margin: 0 0 10px
  font-weight: 400
  font-size: 13px
  color: #DE5959

#sendmessage
  border: 1px solid #fff
  display: none
  text-align: center
  margin: 10px 0
  font-weight: 600
  margin-bottom: 30px
  background-color: #8D43AC
  color: #5F9025
  border: 1px solid #B3DC82
  padding: 13px 40px 13px 18px
  border-radius: 3px
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03)

  &.show
    display: block

.show
  display: block