<div class="app-inner-layout">

    <div class="app-inner-layout__header bg-heavy-rain">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-product-hunt"></i></div>
                    <div>
                        Liste des Categories
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>


                <div class="page-title-actions">

                    <ng-template #content let-c="close" let-d="dismiss">

                        <div class="modal-header">
                            <h4 class="modal-title">Ajouter Categorie</h4>
                            <button type="button" class="close" aria-label="Close" (click)="('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
                        </div>
                        <form #addForm="ngForm" (ngSubmit)="onAddCategorie(addForm)">

                            <div class="modal-body">

                                <div class="card-body">
                                    <div class="position-relative form-group">
                                        <label for=""><h6>Nom Categorie:</h6></label>
                                        <input name="nomCategorie" [(ngModel)]="nomCategorie" id="" placeholder="Inserer le nom de categorie" type="text" class="form-control">
                                    </div>

                                    <div class="position-relative form-group">
                                        <label for=""><h6>Description</h6></label>
                                        <textarea name="description" [(ngModel)]="description" id="" class="form-control" placeholder="Inserer le description de categorie"></textarea>
                                    </div>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" id="add-categorie-form" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
                                <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Ajouter</button>
                            </div>
                        </form>

                    </ng-template>

                    <button type="button" (click)="open(content)" class="btn-shadow d-inline-flex align-items-center btn btn-success">
                                  <fa-icon [icon]="faPlus" class="mr-2" ></fa-icon>Ajouter Categorie   </button>

                    <!---->
                </div>
            </div>
        </div>
    </div>
    <div class="app-inner-layout__wrapper" [ngClass]="{'open-mobile-menu' : toggleMobileSidebar}">
        <div class="app-inner-layout__content card">
            <div class="app-inner-layout__top-pane pr-2">
                <div class="pane-left">
                    <div class="mobile-app-menu-btn">
                        <button type="button" class="hamburger hamburger--elastic" [ngClass]="{'is-active' : toggleMobileSidebar}" (click)="toggleMobileSidebar = !toggleMobileSidebar">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
                    </div>

                </div>
                <form>
                    <div class="pane-right">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <fa-icon [icon]="faSearch"></fa-icon>
                                </div>
                            </div>
                            <!-- <input type="search" (ngModelChange)="searchCategories(key.value)"
                         #key="ngModel" ngModel nomCategorie="key" id="searchName" class="form-control" placeholder="Search..." required>-->
                            <input type="search" id="searchName" class="form-control" placeholder="Search..." name="search">
                        </div>
                    </div>
                </form>
            </div>
            <div class="bg-white">
                <div class="table-responsive">
                    <table class="  table table-hover">
                        <tbody>
                            <th>Nom Catégorie</th>
                            <th>Description</th>
                            <th>Actions</th>

                            <tr *ngFor="let categorie of categories">
                                <td class="text-left">{{categorie?.nomCategorie}}</td>

                                <td class="text-left">{{categorie?.description}}</td>
                                <td>
                                    <button (click)="open(content1)" type=" button " class="btn btn-info btn-sm mr-2 " (click)="edit(categorie)"><i class="fa fa-edit "></i></button>
                                    <button (click)="deleteCategorie(categorie)" class="button " class="btn btn-danger btn-sm mr-2 "><i class="fa fa-trash "></i></button>

                                    <!--<a data-placement="top " data-original-title="Edit "><i class="material-icons ">&#xE254;</i> </a>
                                    <a data-placement="top " data-original-title="Delete "><i class="material-icons ">&#xE872;</i></a>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="app-inner-layout__bottom-pane d-block text-center ">
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination mb-0 ">
                            <li class="page-item ">
                                <a [routerLink]=" " aria-label="Previous " class="page-link ">
                                    <span aria-hidden="true ">«</span><span class="sr-only ">Previous</span></a>
                            </li>
                            <li class="page-item "><a [routerLink]=" " class="page-link ">1</a></li>
                            <li class="page-item active "><a [routerLink]=" " class="page-link ">2</a></li>
                            <li class="page-item "><a [routerLink]=" " class="page-link ">3</a></li>
                            <li class="page-item "><a [routerLink]=" " class="page-link ">4</a></li>
                            <li class="page-item "><a [routerLink]=" " class="page-link ">5</a></li>
                            <li class="page-item "><a [routerLink]=" " aria-label="Next " class="page-link "><span
                    aria-hidden="true ">»</span><span class="sr-only ">Next</span></a></li>
                        </ul>
                    </nav>
                </div>-->
                <!------------------------------
                    -------------------->
                <ng-template #content1 let-c="close" let-d="dismiss">

                    <div class="modal-header">
                        <h4 class="modal-title">Modifier Categorie</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <form #updateForm="ngForm" (ngSubmit)="updateCategorie()">

                        <div class="modal-body">

                            <div class="card-body">
                                <div class="position-relative form-group">
                                    <label for=""><h6>ID Categorie:</h6></label>
                                    <input disabled #idCategorie [(ngModel)]="categorieToUpdate.idCategorie" name="idCategorie" id="" placeholder="Inserer le nom de categorie" type="text" class="form-control">
                                </div>
                                <div class="position-relative form-group">
                                    <label for=""><h6>Nom Categorie:</h6></label>
                                    <input #nomCategorie [(ngModel)]="categorieToUpdate.nomCategorie" name="nomCategorie" id="" placeholder="Inserer le nom de categorie" type="text" class="form-control">
                                </div>

                                <div class="position-relative form-group">
                                    <label for=""><h6>Description</h6></label>
                                    <textarea #description [(ngModel)]="categorieToUpdate.description" name="description" id="" class="form-control" placeholder="Inserer le description de categorie"></textarea>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="update-categorie-form" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
                            <button type="submit" class="btn btn-primary" [disabled]="updateForm.invalid" (click)="c('Close click')">Modifier</button>
                        </div>
                    </form>

                </ng-template>
                <!--*************************************-->