<div class="app-inner-layout">

    <div class="app-inner-layout__header bg-night-fade">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-user"></i></div>
                    <div>
                        Liste Des Utilisateurs
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<ul ngbNav #nav="ngbNav" class="nav-tabs tabs-animated tabs-animated-shadow">
    <li ngbNavItem>
        <a ngbNavLink><span >Liste des commerciaux</span></a>
        <ng-template ngbNavContent>
            <div class="card main-card mb-3">
                <div class="card-body">
                    <div class="row">
                        <!--Contenu-->

                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span>User</span></th>
                                        <th><span>Télephone</span></th>
                                        <th class="text-center"><span>Adresse</span></th>
                                        <th><span>Email</span></th>
                                        <th><span>Nom Catalogues</span></th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of commerciaux">
                                        <td>
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                            <a href="#" class="user-link">{{c?.nom}} {{user?.prenom}}</a>
                                            <span class="user-subhead">{{c?.rolename}}</span>
                                        </td>
                                        <td>
                                            {{c?.tel}}
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-default">{{c?.adresse}}</span>
                                        </td>
                                        <td>
                                            <a href="#"> {{c?.email}}</a>
                                        </td>
                                        <td>
                                            <a href="#"> {{c?.catalogue?.nomCatalogues}}</a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="#" class="table-link">
                                                <span class="fa-stack">
                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                            </span>
                                            </a>
                                            <a href="#" class="table-link">
                                                <span class="fa-stack">
                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                            </span>
                                            </a>
                                            <a href="#" class="table-link danger">
                                                <span class="fa-stack">
                                                                <i class="fa fa-square fa-stack-2x"></i>
                                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                            </span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination pull-right">
                            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink><span>List des Administrateurs</span></a>
        <ng-template ngbNavContent>
            <div class="card main-card mb-3 ">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Administrateur</span></th>
                                <th><span>Télephone</span></th>
                                <th class="text-center"><span>adresse</span></th>
                                <th><span>Email</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of admins">
                                <td>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                    <a href="#" class="user-link">{{a?.nom }} {{a?.prenom}}</a>
                                    <span class="user-subhead">{{a.rolename}}</span>
                                </td>
                                <td>
                                    {{a?.tel}} </td>
                                <td class="text-center">
                                    <span class="label label-default">{{a?.adresse}}</span>
                                </td>
                                <td>
                                    <a href="#">{{a?.email}}</a>
                                </td>
                                <td style="width: 20%;">
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                    </span>
                                    </a>
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                    </a>
                                    <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pull-right">
                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav"></div>