<div class="app-inner-layout">
    <div class="app-inner-layout__header bg-white
    ">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-product-hunt"></i></div>
                    <div>
                        Ajouter Catalogue
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

            <div class="card-body">
                <div class="position-relative form-group">
                    <label for=""><h6>Nom de Catalogue:</h6></label>
                    <input name="nomCatalogues" formControlName="nomCatalogues" placeholder="Inserer le nom de Catalogue" type="text" class="form-control">
                </div>

                <div class="position-relative form-group">
                    <label for=""><h6>Description</h6></label>
                    <textarea name="description" formControlName="description" class="form-control" placeholder="Inserer le description de catalogue"></textarea>
                </div>

            </div>

            <form>
                <!-- tables-------------->
                <table class="table table-borderless">
                    <thead class="thead-light">
                        <th>Code Produit</th>
                        <th>NomProduit</th>
                        <th>Image</th>
                        <th>prix</th>
                        <th>
                            <button type="button" (click)="openLg(content)" class="btn btn-sm btn-success text-white"><i class="fa fa-plus"></i>Ajouter Produit</button>
                        </th>
                    </thead>
                    <tbody>
                        <tr>

                        </tr>

                        <tr *ngFor="let i of prodList;let ii =index">
                            <td>{{i?.idProduit}}</td>
                            <td>{{i?.designiation}}</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <img width="42" src="../../../../assets/images/{{i?.fileName}}" class="rounded-circle"></div>

                                    </div>
                                </div>
                            </td>
                            <td>{{i?.prixTTC}}</td>
                            <td>
                                <a (click)="ondeleteL(nou)" class="btn btn-sm btn-danger text-white ml-1"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            {{this.productForm.value | json}}
            <ng-template #content let-c="close" let-d="dismiss">

                <div class="modal-header">
                    <h4 class="modal-title">Ajouter Produit</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="container py-5 ">
                    <div class="row ">
                        <!-- Fixed header table-->
                        <div class="table-responsive ">
                            <table id="mytable " class="table table-bordred table-striped ">

                                <thead>

                                    <!-- <th><input type="checkbox " id="checkall " /></th>-->
                                    <th>code Produit</th>
                                    <th>Designiation</th>
                                    <th>categorie</th>
                                    <th>Date Creation</th>
                                    <th>Prix</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let produit of produits;">
                                        <!-- <td><input type="checkbox " class="checkthis " /></td>-->
                                        <td>{{produit?.idProduit}}</td>
                                        <td>{{produit?.designiation}}</td>
                                        <td>{{produit?.categorie?.description}}</td>
                                        <td>{{produit?.dateCreation}}</td>
                                        <td>{{produit?.prixTTC}}</td>
                                        <td><button (click)="submit();submitButton.disabled = true" #submitButton (click)="addProdToCatalogue(produit) " type="submit " class="btn btn-sm btn-success text-white "><i class="fa fa-plus "></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End -->
                    </div>
                </div>

            </ng-template>
            <div class="form-group ">
                <button (click)="reset()" class="btn btn-outline-danger ml-1 "><i class="fa fa-refresh "></i> Annuler</button>
                <button class="btn btn-outline-info ml-1 "><i class="fa fa-add "></i> Ajouter</button>
            </div>
        </form>
    </div>
</div>