body
  background: #74ebd5
  background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5)
  background: linear-gradient(to right, #74ebd5, #ACB6E5)
  min-height: 100vh

  .table-fixed
  tbody
    height: 300px
    overflow-y: auto
    width: 100%

  thead, tbody, tr, td, th
    display: block
    .table-fixed
  tbody
    td, th
      float: left
      position: relative

  thead > tr > th
    float: left
    position: relative