<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-night-fade">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading"> Commades</div>
                    <div class="widget-subheading">Nombre Total des Commandes</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{nombreCommandes}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Produits</div>
                    <div class="widget-subheading">Nombre Totale des Produits </div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{nombreProduits}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-happy-green">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Commerciaux</div>
                    <div class="widget-subheading">Nombre Totale des Commerciaux</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{nombreCommerciaux}}</span></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="app-inner-layout">
    <div class="app-inner-layout__header bg-white
    ">
        <div class="container">
            <div class="row">
                <h5 class="text-warning bread-crumb">Meilleur Quatre Produits</h5>
            </div>
            <div class="row justify-content-between px-4">
                <div class="block text-center" *ngFor="let ma of mauvais">
                    <p class="my-3 prod-name">{{ma?.nomProduit}}</p> <img class="image" src="{{ma?.fileName}}">
                    <div class="price">
                        <h6 class="mb-0">{{ma?.prixTTC}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="text-warning bread-crumb">mauvais quatre produits</div>
        <div class="btn-actions-pane-right">

        </div>
    </div>
    <div class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
            <thead>
                <tr>
                    <th class="text-center">codeProduit</th>
                    <th class="text-center">Avatar</th>
                    <th class="text-center">Nom de Produit</th>
                    <th class="text-center">Categories</th>
                    <th class="text-center">prix</th>
                    <th class="text-center">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of meilleur">
                    <td class="text-center text-muted" style="width: 80px;">{{p?.codeProduit}}</td>
                    <td class="text-center" style="width: 80px;">
                        <img width="60" class="rounded-circle" src="{{p?.fileName}}" alt="">
                    </td>
                    <td class="text-center"><a [routerLink]="">{{p?.nomProduit}}</a></td>
                    <td class="text-center">
                        {{p?.categorie?.nomCategorie}}
                    </td>
                    <td class="text-center">
                        <span class="pr-2 opacity-6">
              <i class="fa fa-business-time"></i>
            </span> {{p?.prixTTC}}
                    </td>

                    <td class="text-center">
                        <div role="group" class="btn-group-sm btn-group">
                            <span> <i class="fa fa-eye" style="font-size:28px;color:orange"></i></span>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>