<div class="app-inner-layout">

    <div class="app-inner-layout__header bg-night-fade">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-user"></i></div>
                    <div>
                        Liste des Catalogues
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-header">

    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">Numéro de Catalogue</th>
                    <th class="text-center"> Titre</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cat of cats">
                    <td class="text-center ">{{cat?.idCatalogue}}</td>
                    <td class="text-center">{{cat?.nomCatalogues}}
                    </td>
                    <td class="text-center">{{cat?.description}}
                    </td>
                    <td class="text-center">
                        <button (click)="open(content)" type=" button " class="btn btn-info btn-sm mr-2 "><i class="fa fa-edit "></i></button>
                        <button class="button " class="btn btn-danger btn-sm mr-2 "><i class="fa fa-trash "></i></button>

                        <!--<div class="badge badge-success">Accepter</div>&nbsp;
                        <div class="badge badge-danger">Refuser</div>&nbsp;-->
                        <button routerLinkActive="active-item" routerLink="/commande/detailCmd" type="button" class="btn btn-warning btn-sm">
                            Details
                          </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-----------------Modal------------>
<ng-template #content let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title">Ajouter Categorie</h4>
        <button type="button" class="close" aria-label="Close" (click)="('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
    </div>
    <form>

        <div class="modal-body">

            <div class="card-body">

                <div class="col-md-12 col-md-offset-2">
                    <div class="row main-section">
                        <div class="col-md-12 col-sm-12 header">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h1><i class="fa fa-cloud" aria-hidden="true"></i> SHOPNAME</h1>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <p>Invoice #555</p>
                                    <span>May 6 ,2017</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 content">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>To.</p>
                                    <p>Mr. Piyush Kamani</p>
                                    <p>Current Add.</p>
                                    <p>New York USA</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <p>From</p>
                                    <p>ShopName</p>
                                    <p>Shop Add. 555</p>
                                    <p>Los Angel USA</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 text-right">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit Price</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Product Name</td>
                                        <td>10</td>
                                        <td>$10</td>
                                        <td>$100</td>
                                    </tr>
                                    <tr>
                                        <td>Name Of The Product</td>
                                        <td>1</td>
                                        <td>$10</td>
                                        <td>$100</td>
                                    </tr>
                                    <tr>
                                        <td>Product Name</td>
                                        <td>1</td>
                                        <td>$10</td>
                                        <td>$100</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>Subtotal</td>
                                        <td>$300</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>Tax</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <th colspan="3" style="text-align: right;">Total:</th>
                                        <th>$330</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12 col-sm-12 lastSection">
                            <p>
                                Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit, </b>sed do eiusmod tempor incididunt ut labore et dolore aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p><br>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" id="add-categorie-form" class="btn btn-danger" (click)="('Close click')">Fermer</button>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </form>

</ng-template>
<!---->