HTML CSSResult Skip Results Iframe EDIT ON html
  margin: 0
  padding: 0
  width: 100%
  height: 100%

body
  width: 100%
  height: 100%
  font-family: Arial, sans-serif
  font-size: 16px
  line-height: 30px
  padding: 20px
  margin: 0

.title
  text-transform: uppercase

.form-heading
  background: #e8cbc0

  /* fallback for old browsers
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4)

  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #e8cbc0, #636fa4)

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  margin: 20px 0 20px
  padding: 20px

  .prg
    color: #ffffff
    font-size: 23px

.inline
  display: inline-block

label
  min-width: 120px
  position: relative
  cursor: pointer
  color: #666
  font-size: 15px

.checkbox
  label:after
    content: ''
    display: table
    clear: both

  .cc
    position: relative
    display: inline-block
    border: 1px solid #a9a9a9
    border-radius: .25em
    width: 1.3em
    height: 1.3em
    float: left
    margin-right: .5em

    .cc-icon
      position: absolute
      font-size: .8em
      line-height: 0
      top: 50%
      left: 15%

  label input[type="checkbox"]
    display: none

    + .cc > .cc-icon
      opacity: 0

    &:checked + .cc > .cc-icon
      opacity: 1

    &:disabled + .cc
      opacity: .5