<div class="container">
    <form class="form-horizontal" role="form">
        <div class='container'>

            <div class='row'>
                <div class="col-lg-12">
                    <div class="form-heading">
                        <span class="prg">Ajouter Utilisateur</span>
                    </div>
                </div>
            </div>
            <div class='row'>

                <div class="col-lg-6">
                    <!--<form class="form-horizontal" role="form">-->
                    <div class="form-group">
                        <label for="civilite" class="col-sm-2 control-label">Civilit&eacute; :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" lname="civilite;" id="civilite" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nom" class="col-sm-2 control-label">Nom :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="name" id="name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prenom" class="col-sm-2 control-label">Prenom :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="prenom" id="prenom" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mail" class="col-sm-2 control-label">Email :</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tel" class="col-sm-2 control-label">T&eacute;l&eacute;phone :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="tel" id="tel" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="col-sm-2 control-label">Mobile :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="mobile" id="mobile" required>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="societe" class="col-sm-2 control-label">Soci&eacute;t&eacute;</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="societe" id="societe" required>
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="adresse" class="col-sm-2 control-label">Adresse</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="adresse" id="adresse" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cp" class="col-sm-2 control-label">Code Postal</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="cp" id="cp">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ville" class="col-sm-2 control-label">Ville</label>
                        <div class="col-sm-8">
                            <input type="text" name="ville" class="form-control" id="ville">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pays" class="col-sm-2 control-label">Pays</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="pays" id="pays">
                        </div>
                    </div>
                    <div class="form-group">


                        <div class="form-group">
                            <label for="programme" class="col-sm-2 control-label">Program</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="origine" class="col-sm-2 control-label">Origin</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <!--</form>-->
                    </div>

                </div>
            </div>
            <div class="col-lg-6">

            </div>

            <div class="col-lg-6">
            </div>
            <div>

                <div class="checkbox inline">
                    <label>
                                <input type="checkbox" value="" checked>
                                <span class="cc"><i class="cc-icon glyphicon glyphicon-ok"></i></span> studio
                            </label>
                </div>
                <div class="checkbox inline">
                    <label>
                                <input type="checkbox" value="" checked>
                                <span class="cc"><i class="cc-icon glyphicon glyphicon-ok"></i></span> 1 pièce
                            </label>
                </div>
                <div class="checkbox inline">
                    <label>
                                <input type="checkbox" value="" checked>
                                <span class="cc"><i class="cc-icon glyphicon glyphicon-ok"></i></span> 2 pièce
                            </label>
                </div>

                <div class="checkbox inline">
                    <label>
                                <input type="checkbox" value="" checked>
                                <span class="cc"><i class="cc-icon glyphicon glyphicon-ok"></i></span> 4 pièces
                            </label>
                </div>
                <div class="checkbox inline">
                    <label>
                                <input type="checkbox" value="" checked>
                                <span class="cc"><i class="cc-icon glyphicon glyphicon-ok"></i></span> 5 pièces
                            </label>
                </div>
                <div class="checkbox inline">
                    <label>
                                <input type="checkbox" value="" checked>
                                <span class="cc"><i class="cc-icon glyphicon glyphicon-ok"></i></span> 6 pièces
                            </label>
                </div>

                <div class="checkbox inline">
                    <label>
                                <input type="checkbox" value="" checked>
                                <span class="cc"><i class="cc-icon glyphicon glyphicon-ok"></i></span> maison
                            </label>
                </div>

            </div>


            <div class="col-xs-12">
                <div class="form-group">
                    <label for="comment">Your Comment:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
            </div>

            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </div>
    </form>

</div>"