body
  background-color: #D8DDf6

.card
  border: none
  cursor: pointer
  transition: all 0.5s

  &:hover
    background-color: #DE2E2E
    color: #fff

    .expert-button
      border: 1px solid #ff7c57
      color: #ff7c57
      background-color: #fff

      &:hover
        border: 1px solid #ff7c57
        color: #fff
        background-color: #ff7c57

.expert-button
  border-radius: 50px
  height: 45px
  width: 200px
  border: 1px solid #ff7c57
  color: #ff7c57
  background-color: #fff

.text1
  font-size: 14px