<div class="container-fluid">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary" class="fa fa-search"></button>
    </div>
    <div class="row g-2 mt-3">

        <div class="col-md-3">
            <div class="card p-3 py4">
                <div class="text-left"> <img src="https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-color-exclamation-mark-image_2247896.jpg" width="40"> </div>
                <h5>Réclamation n°: 124</h5> <span class="text1">Reglement de 1589 Dt ...<br> <br>
                     réglerpar ALYA KHAYATI</span>
                <small class="fw-bolder mt-3">Le 01/05/2021</small> <small class="fw-bolder mt-3">Client:LARINE KHAYAT</small>
                <div class="mt-5"> <button class="expert-button">Details</button> </div>
            </div>&nbsp;
        </div>

        <div class="col-md-3">
            <div class="card p-3 py4">
                <div class="text-left"> <img src="https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-color-exclamation-mark-image_2247896.jpg" width="40"> </div>
                <h5>Réclamation n°: 124</h5> <span class="text1">Reglement de 1589 Dt ...<br> <br>
                     réglerpar ALYA KHAYATI</span>
                <small class="fw-bolder mt-3">Le 01/05/2021</small> <small class="fw-bolder mt-3">Client:LARINE KHAYAT</small>
                <div class="mt-5"> <button class="expert-button">Details</button> </div>
            </div>&nbsp;
        </div>
        <div class="col-md-3">
            <div class="card p-3 py4">
                <div class="text-left"> <img src="https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-color-exclamation-mark-image_2247896.jpg" width="40"> </div>
                <h5>Réclamation n°: 124</h5> <span class="text1">Reglement de 1589 Dt ...<br> <br>
                     réglerpar ALYA KHAYATI</span>
                <small class="fw-bolder mt-3">Le 01/05/2021</small> <small class="fw-bolder mt-3">Client:LARINE KHAYAT</small>
                <div class="mt-5"> <button class="expert-button">Details</button> </div>
            </div>&nbsp;
        </div>
        <div class="col-md-3">
            <div class="card p-3 py4">
                <div class="text-left"> <img src="https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-color-exclamation-mark-image_2247896.jpg" width="40"> </div>
                <h5>Réclamation n°: 124</h5> <span class="text1">Reglement de 1589 Dt ...<br> <br>
                     réglerpar ALYA KHAYATI</span>
                <small class="fw-bolder mt-3">Le 01/05/2021</small> <small class="fw-bolder mt-3">Client:LARINE KHAYAT</small>
                <div class="mt-5"> <button class="expert-button">Details</button> </div>
            </div>&nbsp;
        </div>
        <div class="col-md-3">
            <div class="card p-3 py4">
                <div class="text-left"> <img src="https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-color-exclamation-mark-image_2247896.jpg" width="40"> </div>
                <h5>Réclamation n°: 124</h5> <span class="text1">Reglement de 1589 Dt ...<br> <br>
                     réglerpar ALYA KHAYATI</span>
                <small class="fw-bolder mt-3">Le 01/05/2021</small> <small class="fw-bolder mt-3">Client:LARINE KHAYAT</small>
                <div class="mt-5"> <button class="expert-button">Details</button> </div>
            </div>&nbsp;
        </div>
        <div class="col-md-3">
            <div class="card p-3 py4">
                <div class="text-left"> <img src="https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-color-exclamation-mark-image_2247896.jpg" width="40"> </div>
                <h5>Réclamation n°: 124</h5> <span class="text1">Reglement de 1589 Dt ...<br> <br>
                     réglerpar ALYA KHAYATI</span>
                <small class="fw-bolder mt-3">Le 01/05/2021</small> <small class="fw-bolder mt-3">Client:LARINE KHAYAT</small>
                <div class="mt-5"> <button class="expert-button">Details</button> </div>
            </div>&nbsp;
        </div>
        <div class="col-md-3">
            <div class="card p-3 py4">
                <div class="text-left"> <img src="https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-color-exclamation-mark-image_2247896.jpg" width="40"> </div>
                <h5>Réclamation n°: 124</h5> <span class="text1">Reglement de 1589 Dt ...<br> <br>
                     réglerpar ALYA KHAYATI</span>
                <small class="fw-bolder mt-3">Le 01/05/2021</small> <small class="fw-bolder mt-3">Client:LARINE KHAYAT</small>
                <div class="mt-5"> <button class="expert-button">Details</button> </div>
            </div>&nbsp;
        </div>
        <div class="col-md-3">
            <div class="card p-3 py4">
                <div class="text-left"> <img src="https://png.pngtree.com/element_our/20200610/ourlarge/pngtree-color-exclamation-mark-image_2247896.jpg" width="40"> </div>
                <h5>Réclamation n°: 124</h5> <span class="text1">Reglement de 1589 Dt ...<br> <br>
                     réglerpar ALYA KHAYATI</span>
                <small class="fw-bolder mt-3">Le 01/05/2021</small> <small class="fw-bolder mt-3">Client:LARINE KHAYAT</small>
                <div class="mt-5"> <button class="expert-button">Details</button> </div>
            </div>&nbsp;
        </div>

    </div>
</div>