body
  margin-top: 20px
  background: #eee

.db-social .jumbotron
  margin: 0
  background: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg)
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  background-position: bottom center
  color: #fff !important
  height: 300px
  position: relative
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3)
  padding: 0

.container-fluid
  padding: 30px 30px

.db-social .head-profile
  margin-top: -120px
  border-radius: 4px
  position: relative

.widget
  background: #fff
  border-radius: 0
  border: none
  margin-bottom: 30px

.has-shadow
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08)

.db-social
  .head-profile
    &:before
      content: ""
      background: rgba(255, 255, 255, 0.6)
      height: 20px
      width: 90%
      position: absolute
      top: -20px
      left: 0
      right: 0
      margin: 0 auto
      border-radius: 4px 4px 0 0

    &:after
      content: ""
      background: rgba(255, 255, 255, 0.3)
      height: 20px
      width: 80%
      position: absolute
      top: -40px
      left: 0
      right: 0
      margin: 0 auto
      border-radius: 4px 4px 0 0

  .widget-body
    padding: 1rem 1.4rem

.widget-body
  padding: 1.4rem

.pb-0, .py-0
  padding-bottom: 0 !important

.db-social
  .image-default img
    width: 120px
    position: absolute
    top: -80px
    left: 0
    right: 0
    margin: 0 auto
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 1)
    z-index: 10

  .infos
    text-align: center
    margin-top: 4rem
    margin-bottom: 1rem
    line-height: 1.8rem

  h2
    color: #2c304d
    font-size: 1.6rem
    font-weight: 600
    margin-bottom: .2rem

  .location
    color: #aea9c3
    font-size: 1rem

  .follow .btn
    padding: 10px 30px

.btn:not(:disabled):not(.disabled)
  cursor: pointer

.btn-shadow
  color: #5d5386
  background-color: #fff
  border-color: #fff
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.15)

  a
    color: #5d5386
    background-color: #fff
    border-color: #fff
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.15)

.db-social .head-profile .actions
  display: inline-block
  vertical-align: middle
  margin-left: .5rem

.actions
  z-index: 999
  display: block

  &.dark .dropdown-toggle
    color: #2c304d

  .dropdown-toggle
    color: #98a8b4
    background: none
    border: none
    padding: 0
    font-size: 1.7rem

  .dropdown-menu
    border: none
    min-width: auto
    font-size: 1rem
    border-radius: 4px
    padding: 1.4rem 1.8rem
    text-align: left
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15)

    .dropdown-item
      padding: .5rem 0

    a
      color: #2c304d
      font-weight: 500

.db-social .head-profile li
  &:first-child
    padding-left: 0

  display: inline-block
  text-align: center
  padding: 0 1rem

  .counter
    color: #2c304d
    font-size: 1.4rem
    font-weight: 600

  .heading
    color: #aea9c3
    font-size: 1rem
/*
body
  background: #f9f9fb

.view-account
  background: #FFFFFF
  margin-top: 20px

  .pro-label
    font-size: 13px
    padding: 4px 5px
    position: relative
    top: -5px
    margin-left: 10px
    display: inline-block

  .side-bar
    padding-bottom: 30px

    .user-info
      text-align: center
      margin-bottom: 15px
      padding: 30px
      color: #616670
      border-bottom: 1px solid #f3f3f3

      .img-profile
        width: 120px
        height: 120px
        margin-bottom: 15px

      .meta li
        margin-bottom: 10px

        span
          display: inline-block
          width: 100px
          margin-right: 5px
          text-align: right

        a
          color: #616670

        &.activity
          color: #a2a6af

    .side-menu
      text-align: center

      .nav
        display: inline-block
        margin: 0 auto

        > li
          font-size: 14px
          margin-bottom: 0
          border-bottom: none
          display: inline-block
          float: left
          margin-right: 15px
          margin-bottom: 15px

          &:last-child
            margin-right: 0

          > a
            display: inline-block
            color: #9499a3
            padding: 5px
            border-bottom: 2px solid transparent

            &:hover
              color: #616670
              background: none

          &.active a
            color: #40babd
            border-bottom: 2px solid #40babd
            background: none
            border-right: none

.theme-2 .view-account .side-bar .side-menu .nav > li.active a
  color: #6dbd63
  border-bottom-color: #6dbd63

.theme-3 .view-account .side-bar .side-menu .nav > li.active a
  color: #497cb1
  border-bottom-color: #497cb1

.theme-4 .view-account .side-bar .side-menu .nav > li.active a
  color: #ec6952
  border-bottom-color: #ec6952

.view-account
  .side-bar .side-menu .nav > li .icon
    display: block
    font-size: 24px
    margin-bottom: 5px

  .content-panel
    padding: 30px

    .title
      margin-bottom: 15px
      margin-top: 0
      font-size: 18px

    .fieldset-title
      padding-bottom: 15px
      border-bottom: 1px solid #eaeaf1
      margin-bottom: 30px
      color: #616670
      font-size: 16px

    .avatar .figure img
      float: right
      width: 64px

    .content-header-wrapper
      position: relative
      margin-bottom: 30px

      .actions
        position: absolute
        right: 0
        top: 0

    .content-utilities
      position: relative
      margin-bottom: 30px

      .btn-group
        margin-right: 5px
        margin-bottom: 15px

      .fa
        font-size: 16px
        margin-right: 0

      .page-nav
        position: absolute
        right: 0
        top: 0

        .btn-group
          margin-bottom: 0

        .indicator
          color: #a2a6af
          margin-right: 5px
          display: inline-block

    .mails-wrapper .mail-item
      position: relative
      padding: 10px
      border-bottom: 1px solid #f3f3f3
      color: #616670
      overflow: hidden

      > div
        float: left

      .icheck
        background-color: #fff

      &:hover
        background: #f9f9fb

      &:nth-child(even)
        background: #fcfcfd

        &:hover
          background: #f9f9fb

      a
        color: #616670

        &:hover
          color: #494d55
          text-decoration: none

      .checkbox-container
        display: inline-block
        margin-right: 5px

      .star-container
        display: inline-block
        margin-right: 5px

        .fa
          color: #a2a6af
          font-size: 16px
          vertical-align: middle

          &.fa-star
            color: #f2b542

          &:hover
            color: #868c97

      .mail-to
        display: inline-block
        margin-right: 5px
        min-width: 120px

      .mail-subject
        display: inline-block
        margin-right: 5px

        .label
          margin-right: 5px

          &:last-child
            margin-right: 10px

          a
            color: #fff

            &:hover
              color: #fff

        .label-color-1
          background: #f77b6b

        .label-color-2
          background: #58bbee

        .label-color-3
          background: #f8a13f

        .label-color-4
          background: #ea5395

        .label-color-5
          background: #8a40a7

      .time-container
        display: inline-block
        position: absolute
        right: 10px
        top: 10px
        color: #a2a6af
        text-align: left

        .attachment-container
          display: inline-block
          color: #a2a6af
          margin-right: 5px

        .time
          display: inline-block
          text-align: right

          &.today
            font-weight: 700
            color: #494d55

.drive-wrapper
  padding: 15px
  background: #f5f5f5
  overflow: hidden

  .drive-item
    width: 130px
    margin-right: 15px
    display: inline-block
    float: left

    &:hover
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1)
      z-index: 1

  .drive-item-inner
    padding: 15px

  .drive-item-title
    margin-bottom: 15px
    max-width: 100px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    a
      color: #494d55

      &:hover
        color: #40babd

.theme-2 .drive-wrapper .drive-item-title a:hover
  color: #6dbd63

.theme-3 .drive-wrapper .drive-item-title a:hover
  color: #497cb1

.theme-4 .drive-wrapper .drive-item-title a:hover
  color: #ec6952

.drive-wrapper
  .drive-item-thumb
    width: 100px
    height: 80px
    margin: 0 auto
    color: #616670

    a
      -webkit-opacity: .8
      -moz-opacity: .8
      opacity: 0.8

      &:hover
        -webkit-opacity: 1
        -moz-opacity: 1
        opacity: 1

    .fa
      display: inline-block
      font-size: 36px
      margin: 0 auto
      margin-top: 20px

  .drive-item-footer .utilities
    margin-bottom: 0

    li:last-child
      padding-right: 0

.drive-list-view
  .name
    width: 60%

    &.truncate
      max-width: 100px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

  .type
    width: 15px

  .date, .size
    max-width: 60px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  a
    color: #494d55

    &:hover
      color: #40babd

.theme-2 .drive-list-view a:hover
  color: #6dbd63

.theme-3 .drive-list-view a:hover
  color: #497cb1

.theme-4 .drive-list-view a:hover
  color: #ec6952

.drive-list-view td
  &.date, &.size
    color: #a2a6af

@media (max-width: 767px)
  .view-account
    .content-panel .title
      text-align: center

    .side-bar .user-info
      padding: 0

      .img-profile
        width: 60px
        height: 60px

      .meta li
        margin-bottom: 5px

    .content-panel
      .content-header-wrapper .actions
        position: static
        margin-bottom: 30px

      padding: 0

      .content-utilities .page-nav
        position: static
        margin-bottom: 15px

  .drive-wrapper
    .drive-item
      width: 100px
      margin-right: 5px
      float: none

    .drive-item-thumb
      width: auto
      height: 54px

      .fa
        font-size: 24px
        padding-top: 0

  .view-account
    .content-panel .avatar .figure img
      float: none
      margin-bottom: 15px

    .file-uploader
      margin-bottom: 15px

    .mail-subject
      max-width: 100px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    .content-panel .mails-wrapper .mail-item .time-container
      position: static

      .time
        width: auto
        text-align: left

@media (min-width: 768px)
  .view-account
    .side-bar .user-info
      padding: 0
      padding-bottom: 15px

    .mail-subject .subject
      max-width: 200px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

@media (min-width: 992px)
  .view-account
    .content-panel
      min-height: 800px
      border-left: 1px solid #f3f3f7
      margin-left: 200px

    .mail-subject .subject
      max-width: 280px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    .side-bar
      position: absolute
      width: 200px
      min-height: 600px

      .user-info
        margin-bottom: 0
        border-bottom: none
        padding: 30px

        .img-profile
          width: 120px
          height: 120px

      .side-menu
        text-align: left

        .nav
          display: block

          > li
            display: block
            float: none
            font-size: 14px
            border-bottom: 1px solid #f3f3f7
            margin-right: 0
            margin-bottom: 0

            > a
              display: block
              color: #9499a3
              padding: 10px 15px
              padding-left: 30px

              &:hover
                background: #f9f9fb

            &.active a
              background: #f9f9fb
              border-right: 4px solid #40babd
              border-bottom: none

  .theme-2 .view-account .side-bar .side-menu .nav > li.active a
    border-right-color: #6dbd63

  .theme-3 .view-account .side-bar .side-menu .nav > li.active a
    border-right-color: #497cb1

  .theme-4 .view-account .side-bar .side-menu .nav > li.active a
    border-right-color: #ec6952

  .view-account .side-bar .side-menu .nav > li .icon
    font-size: 24px
    vertical-align: middle
    text-align: center
    width: 40px
    display: inline-block