// Config colors
$bg-color: #FFFFFF
$text-color: #242424
$input-color: #B7B7B7
$btn-color: #A383C9
$container-color: #F8F8F8

$bg-color-gradient: linear-gradient(to bottom, #abbaab , #ffffff)

// Fonts
@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:400,700'
$font-default: 'Libre Franklin', sans-serif
// config global
html,
body
  background: $bg-color
  font-family: 'Libre Franklin', sans-serif
  
.container
  background: $container-color
  width: 900px
  height: 650px
  margin: 5% auto
  box-shadow: 0px 0px 10px #C8C7D9
  position: relative
  
  .map
    width: 100%
    float: left
  .contact-form
    width: 53%
    margin-left: 2%
    float: left
