HTML CSSResult Skip Results Iframe EDIT ON html
  margin: 0
  padding: 0
  width: 100%
  height: 100%

body
  width: 100%
  height: 100%
  font-family: Arial, sans-serif
  font-size: 16px
  line-height: 30px
  padding: 20px
  margin: 0

.title
  text-transform: uppercase

.form-heading
  background: #e8cbc0

  /* fallback for old browsers
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4)

  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #e8cbc0, #636fa4)

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  margin: 20px 0 20px
  padding: 20px

  .prg
    color: #ffffff
    font-size: 23px

.inline
  display: inline-block

label
  min-width: 120px
  position: relative
  cursor: pointer
  color: #666
  font-size: 15px

.checkbox
  label:after
    content: ''
    display: table
    clear: both

  .cc
    position: relative
    display: inline-block
    border: 1px solid #a9a9a9
    border-radius: .25em
    width: 1.3em
    height: 1.3em
    float: left
    margin-right: .5em

    .cc-icon
      position: absolute
      font-size: .8em
      line-height: 0
      top: 50%
      left: 15%


  label input[type="checkbox"]
    display: none

    + .cc > .cc-icon
      opacity: 0

    &:checked + .cc > .cc-icon
      opacity: 1

    &:disabled + .cc
      opacity: .5
body
  margin:0% auto
  background: #eaeaea
  font-family: 'Open Sans', sans-serif

.info
  p
    text-align: center
    color: #999
    text-transform: none
    font-weight: 600
    font-size: 15px
    margin-top: 2px

  i
    color: #F6AA93

form
  h1
    font-size: 18px
    background: #F6AA93 none repeat scroll 0% 0%
    color: rgb(255, 255, 255)
    padding: 2px 5px
    border-radius: 5px 5px 0px 0px
    margin: 0% auto
    text-shadow: none
    text-align: left

  border-radius: 5px
  max-width: 700px
  width: 100%
  margin: 0% auto
  background-color: #FFFFFF
  overflow: hidden

p
  span
    color: #F00

  margin: 0px
  font-weight: 500
  line-height: 2
  color: #333

h1
  text-align: center
  color: #666
  text-shadow: 1px 1px 0px #FFF
  margin: 50px 0px 0px 0px

.inpu
  border-radius: 0px 5px 5px 0px
  border: 1px solid #eee
  margin-bottom: 15px
  width: 75%
  height: 40px
  float: left
  padding: 0px 15px

input
  width: 90%
  height: 55px

select
  border-radius: 0px 5px 5px 0px
  border: 1px solid #eee
  margin-bottom: 15px
  width: 75%
  height: 40px
  float: left
  padding: 0px 15px
a
  text-decoration: inherit

textarea
  border-radius: 0px 5px 5px 0px
  border: 1px solid #EEE
  margin: 0
  width: 75%
  height: 110px
  float: left
  padding: 0px 15px

.form-group
  overflow: hidden
  clear: both

.icon-case
  width: 35px
  float: left
  border-radius: 5px 0px 0px 5px
  background: #eeeeee
  height: 42px
  position: relative
  text-align: center
  line-height: 40px

i
  color: #555

.contentform
  padding: 40px 30px

.bouton-contact
  background-color: #8D43AC
  color: #FFF
  text-align: center
  width: 100%
  border: 0
  padding: 3px 15px
  border-radius: 0px 0px 5px 5px
  cursor: pointer
  margin-top: 40px
  font-size: 18px

.bouton-contactt
  background-color: #8D43AC
  color: #FFF
  text-align: center
  width: 50%
  border: 0
  padding: 17px 25px
  border-radius: 0px 0px 5px 5px
  cursor: pointer
  margin-top: 40px
  font-size: 16px
.espace
  width:50%
  height:50%
.leftcontact
  width: 49.5%
  float: left
  border-right: 1px dotted #CCC
  box-sizing: border-box
  padding: 0px 15px 0px 0px

.rightcontact
  width: 49.5%
  float: right
  box-sizing: border-box
  padding: 0px 0px 0px 15px

.validation
  display: none
  margin: 0 0 10px
  font-weight: 400
  font-size: 13px
  color: #DE5959

#sendmessage
  border: 1px solid #fff
  display: none
  text-align: center
  margin: 10px 0
  font-weight: 600
  margin-bottom: 30px
  background-color: #8D43AC
  color: #5F9025
  border: 1px solid #B3DC82
  padding: 13px 40px 13px 18px
  border-radius: 3px
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03)

  &.show
    display: block

.show
  display: block