<div class="app-inner-layout">

    <div class="app-inner-layout__header bg-night-fade">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-user"></i></div>
                    <div>
                        Ajouter Produit
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>


                <div class="page-title-actions">

                    <ng-template #content let-c="close" let-d="dismiss">

                        <div class="modal-header">
                            <h3 class="modal-title">Ajouter nouvel Produit</h3>
                            <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
                  <span aria-hidden="true">&times;</span>
                </button>
                        </div>
                        <!---->
                        <form [formGroup]="formm">
                            <div class="contentform">
                                <div class="leftcontact">
                                    <div class="form-group">
                                        <p>Code Produit<span>*</span></p>
                                        <span class="icon-case"><i class="fa fa-male"></i></span>
                                        <input class="inpu" formControlName="username" [ngClass]="{'is-invalid':formm.get('username').touched && formm.get('username').invalid}" required type="text" name="username" id="username" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Username' doit être renseigné."
                                        />
                                        <div class="validation"></div>
                                    </div>

                                    <div class="form-group">
                                        <p>Désigniation <span>*</span></p>
                                        <span class="icon-case"><i class="fa fa-user"></i></span>
                                        <input class="inpu" type="text" formControlName="nom" name="nom" id="nom" [ngClass]="{'is-invalid':formm.get('nom').touched && formm.get('nom').invalid}" required type="text" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné."
                                        />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <p>Date de Fabrication <span>*</span></p>
                                        <span class="icon-case"><i class="fa fa-user"></i></span>
                                        <input class="inpu" name="prenom" id="prenom" formControlName="prenom" [ngClass]="{'is-invalid':formm.get('prenom').touched && formm.get('prenom').invalid}" required type="text" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné."
                                        />
                                        <div class="validation"></div>
                                    </div>

                                    <div class="form-group">
                                        <p>poids <span>*</span></p>
                                        <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
                                        <input class="inpu" type="text" name="email" id="email" formControlName="email" [ngClass]="{'is-invalid':formm.get('email').touched && formm.get('email').invalid}" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire."
                                        />
                                        <div *ngIf="formm.get('email').touched && formm.get('email').invalid" class="invalid-feedback">
                                            <div *ngIf="formm.get('email').errors.required">Email Name is required</div>
                                            <div *gIf="formm.get('email').errors.email">Email must be a valid email Address</div>
                                        </div>
                                        <div class="validation"></div>
                                    </div>

                                    <div class="form-group">
                                        <p>Code Postale <span>*</span></p>
                                        <span class="icon-case"><i class="fa fa-map-marker"></i></span>
                                        <input class="inpu" type="text" name="codePostal" id="codePostal" formControlName="codePostal" [ngClass]="{'is-invalid':formm.get('codePostal').touched && formm.get('codePostal').invalid}" required data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Code postale' doit être renseigné."
                                        />
                                        <div class="validation"></div>
                                    </div>

                                </div>

                                <div class="rightcontact">


                                    <div class="form-group">
                                        <p>PrixTTC <span>*</span></p>
                                        <span class="icon-case"><i class="fa fa-phone"></i></span>
                                        <input class="inpu" type="text" name="tel" id="tel" formControlName="tel" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres" />
                                        <div class="validation"></div>
                                    </div>

                                    <div class="form-group">
                                        <p>PrixHT <span>*</span></p>
                                        <span class="icon-case"><i class="fa fa-phone"></i></span>
                                        <input class="inpu" type="text" name="tel" id="tel" formControlName="tel" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <p>Categorie <span>*</span></p>
                                        <span class="icon-case"><i class="fa fa-info"></i></span>
                                        <select id="catalogue" name="catalogue" formControlName="catalogue" placeholder="selectioner Catalogue">
                                            <option name="catalogue"  [value]="catalogue?.idCatalogue" *ngFor="let catalogue of catalogues">{{catalogue?.nomCatalogues}}</option>
                                          </select>
                                    </div>
                                    <div class="form-group">
                                        <p>Image <span>*</span></p>

                                        <input class="input" type="file" id="myFile" name="filename">
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <p>Description <span>*</span></p>
                                        <span class="icon-case"><i class="fa fa-comments-o"></i></span>
                                        <textarea name="description" rows="14" formControlName="description" [ngClass]="{'is-invalid':formm.get('description').touched && formm.get('description').invalid}" required data-rule="required" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'description' doit être renseigné."></textarea>
                                        <div class="validation"></div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button (click)="reset()" class="btn btn-outline-danger ml-1 "><i class="fa fa-refresh "></i> Annuler</button>
                            <button class="btn btn-outline-info ml-1 " (click)="onSubmit()" (click)="d('Cross click')"><i class="fa fa-add "></i> Ajouter</button>
                            <br>
                        </div>
                    </ng-template>

                    <button type="button" (click)="open(content)" class="btn btn-success">
                                  <fa-icon [icon]="faPlus" class="mr-2" ></fa-icon>Ajouter  </button>

                    <!---->
                </div>
            </div>
        </div>
    </div>
    <div class="app-inner-layout__wrapper" [ngClass]="{'open-mobile-menu' : toggleMobileSidebar}">
        <div class="app-inner-layout__content card">
            <div class="app-inner-layout__top-pane pr-2">
                <div class="pane-left">
                    <div class="mobile-app-menu-btn">
                        <button type="button" class="hamburger hamburger--elastic" [ngClass]="{'is-active' : toggleMobileSidebar}" (click)="toggleMobileSidebar = !toggleMobileSidebar">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
                    </div>

                </div>
                <form>
                    <!-- 2683/1500/  <div class="pane-right">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <fa-icon [icon]="faSearch"></fa-icon>
                                </div>
                            </div>
                             <input type="search" (ngModelChange)="searchCategories(key.value)"
                         #key="ngModel" ngModel nomCategorie="key" id="searchName" class="form-control" placeholder="Search..." required>-->
                    <!--   <input type="search" id="searchName" class="form-control" placeholder="Search..." name="search">
                          </div>
                    </div>
                    </div>-->
                </form>
            </div>
            <div class="bg-white">
                <div class="table-responsive">
                    <table class="  table table-hover">
                        <tbody>
                            <th>Nom et Prénom </th>
                            <th>Email</th>
                            <th>Télephone</th>
                            <th>adresse</th>
                            <th>Actions</th>

                            <tr *ngFor="let user of users">
                                <td class="text-left">{{user?.nom}}{{user?.prenom}}</td>
                                <td class="text-left">{{user?.email}}</td>
                                <td class="text-left">{{user?.tel}}</td>
                                <td class="text-left">{{user?.adresse}}</td>
                                <td>
                                    <button routerLinkActive="active-item" routerLink="/commande/" type="button" class="btn btn-warning btn-sm"><i class="fa fa-eye"></i>
                                        Details
                                      </button>
                                </td>
                                <!--<a data-placement="top " data-original-title="Edit "><i class="material-icons ">&#xE254;</i> </a>
                                    <a data-placement="top " data-original-title="Delete "><i class="material-icons ">&#xE872;</i></a>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="app-inner-layout__bottom-pane d-block text-center ">
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination mb-0 ">
                            <li class="page-item ">
                                <a [routerLink]=" " aria-label="Previous " class="page-link ">
                                    <span aria-hidden="true ">«</span><span class="sr-only ">Previous</span></a>
                            </li>
                            <li class="page-item "><a [routerLink]=" " class="page-link ">1</a></li>
                            <li class="page-item active "><a [routerLink]=" " class="page-link ">2</a></li>
                            <li class="page-item "><a [routerLink]=" " class="page-link ">3</a></li>
                            <li class="page-item "><a [routerLink]=" " class="page-link ">4</a></li>
                            <li class="page-item "><a [routerLink]=" " class="page-link ">5</a></li>
                            <li class="page-item "><a [routerLink]=" " aria-label="Next " class="page-link "><span
                    aria-hidden="true ">»</span><span class="sr-only ">Next</span></a></li>
                        </ul>
                    </nav>
                </div>-->
                <!------------------------------
                    -------------------->
                <ng-template #content1 let-c="close" let-d="dismiss">

                    <div class="modal-header">
                        <h4 class="modal-title">Modifier Categorie</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <form #updateForm="ngForm" (ngSubmit)="updateCategorie()">

                        <div class="modal-body">

                            <div class="card-body">
                                <div class="position-relative form-group">
                                    <label for=""><h6>ID Categorie:</h6></label>
                                    <input disabled name="idCategorie" id="" placeholder="Inserer le nom de categorie" type="text" class="form-control">
                                </div>
                                <div class="position-relative form-group">
                                    <label for=""><h6>Nom Categorie:</h6></label>
                                    <input name="nomCategorie" id="" placeholder="Inserer le nom de categorie" type="text" class="form-control">
                                </div>

                                <div class="position-relative form-group">
                                    <label for=""><h6>Description</h6></label>
                                    <textarea name="description" id="" class="form-control" placeholder="Inserer le description de categorie"></textarea>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="update-categorie-form" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
                            <button type="submit" class="btn btn-primary" (click)="c('Close click')">Modifier</button>
                        </div>
                    </form>

                </ng-template>