<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-night-fade">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading"> Commades</div>
                    <div class="widget-subheading">Nombre Total des Commandes</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{nombreCommandes}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Produits</div>
                    <div class="widget-subheading">Nombre Totale des Produits </div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{nombreProduits}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-happy-green">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Commerciaux</div>
                    <div class="widget-subheading">Nombre Totale des Commerciaux</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{nombreCommerciaux}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mb-3">
    <h5 class="menu-header-title text-capitalize mb-3 fsize-3" style="color:#1E90FF">listes des commerciaux Qui ont le plus de ventes</h5>

</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-xl-4" *ngFor="let best of bestC">
        <div class="card-shadow-primary card-border mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-alternate">
                    <div class="menu-header-image opacity-2 dd-header-bg-4"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded"><img src="./assets/images/avatars/9.jpg" alt="Avatar 6"></div>
                        </div>
                        <div>
                            <h5 class="menu-header-title">{{best?.nom}} {{best?.prenom}}</h5>
                            <h6 class="menu-header-subtitle">{{best?.email}}</h6>
                        </div>

                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="widget-content pt-2 pl-0 pb-2 pr-0">
                        <div class="text-center">
                            <h5 class="widget-heading opacity-4 mb-0">{{best?.adresse}}</h5>
                        </div>
                    </div>
                </li>
                <li class="p-0 list-group-item">
                    <div class="grid-menu grid-menu-2col overflow-hidden">
                        <div class="no-gutters row">
                            <div class="col-sm-12">
                                <button class="btn-icon-vertical btn-square btn-transition br-bl btn btn-outline-link"><i
                    class="lnr-license btn-icon-wrapper btn-icon-lg mb-3"> </i>Voir Profile
                </button>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header" style="color:#1E90FF">listes des commerciaux Qui ont le moins de ventes

            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th> Nom et Prénom</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Télephone</th>
                            <th class="text-center">Adresse</th>
                            <th class="text-center">Détails</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bad of badC">
                            <td class="text-center text-muted">{{bad?.idUser}}</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" class="rounded-circle" src="./assets/images/avatars/1.jpg" alt=""></div>
                                        </div>
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">{{bad?.nom}}{{bad?.prenom}}</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">{{bad?.email}}</td>
                            <td class="text-center">{{bad?.tel}}</td>

                            <td class="text-center">{{bad?.adresse}}</td>

                            <td class="text-center">
                                <button type="button" class="btn btn-warning btn-sm">Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>