<ul class="header-megamenu nav">
    <li class="nav-item">
        <button [ngbPopover]="footerPopover" [autoClose]="'outside'" placement="top-right" popoverClass="rm-max-width" type="button" class="btn btn-link dropdown-toggle">
      <span>
        <i class="nav-link-icon pe-7s-gift"></i>
        Footer Menu
      </span>
    </button>
    </li>

</ul>
<ng-template #footerPopover>
    <div class="dropdown-mega-menu dropdown-mega-menu-sm">
        <div class="grid-menu grid-menu-2col">
            <div class="no-gutters row">
                <div class="col-sm-6 col-xl-6">
                    <ul class="nav flex-column">
                        <li class="nav-item-header nav-item">Overview</li>
                        <li class="nav-item">
                            <a [routerLink]="" class="nav-link">
                                <i class="nav-link-icon lnr-inbox"></i>
                                <span>Contacts</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="" class="nav-link">
                                <i class="nav-link-icon lnr-book"></i>
                                <span>Incidents</span>
                                <div class="ml-auto badge badge-pill badge-danger">5</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="" class="nav-link">
                                <i class="nav-link-icon lnr-picture"></i>
                                <span>Companies</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a disabled="disabled" [routerLink]="" class="nav-link disabled">
                                <i class="nav-link-icon lnr-file-empty"></i>
                                <span>Dashboards</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-xl-6">
                    <ul class="nav flex-column">
                        <li class="nav-item-header nav-item">Sales &amp; Marketing</li>
                        <li class="nav-item">
                            <a [routerLink]="" class="nav-link">Queues</a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="" class="nav-link">Resource Groups</a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="" class="nav-link">Goal Metrics
                <div class="ml-auto badge badge-warning">3</div>
              </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="" class="nav-link">Campaigns</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-template>