body
  background-color: #EFF8FF

h1, p
  margin: 0px

.main-section
  background-color: #FFF
  border: 1px solid #8D43AC

.header
  background-color: #8D43AC
  padding: 30px 15px 20px 15px
  color: #fff

.content
  padding: 20px 15px 20px 15px

th
  background-color: #8D43AC
  color: #fff
  text-align: right

.table
  td:nth-child(1), th:nth-child(1)
    text-align: left

.lastSection
  padding: 20px 15px 30px 15px