cor
  background-color: #545454

input
  &[type="text"], &[type="email"]
    width: 100%
    max-width: 250px
    border: 2px solid #599fd9
    border-radius: 4px
    margin: 8px 0
    outline: none
    padding: 8px
    box-sizing: border-box

textarea
  width: 100%
  max-width: 250px
  border: 2px solid #599fd9
  border-radius: 4px
  margin: 8px 0
  outline: none
  padding: 8px
  box-sizing: border-box

input
  &[type="text"], &[type="email"]
    height: 35px

textarea
  height: 75px
  font-family: "Helvetica Neue", "Arial", "clean", "sans-serif"
  font-size: 13px
  line-height: 1.1

.input-icone input[type="text"], input[type="email"], textarea
  padding-left: 35px

.input-icone
  position: relative

  i
    position: absolute
    left: 0
    top: 8px
    padding: 9px 8px
    color: #599fd9

input
  &[type="text"]:hover, &[type="email"]:hover
    background: #f2f2f2