<div class="app-inner-layout">

    <div class="app-inner-layout__header bg-heavy-rain">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-product-hunt"></i></div>
                    <div>
                        Ajouter Type de Réclamation
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="app-inner-layout__wrapper" [ngClass]="{'open-mobile-menu' : toggleMobileSidebar}">
        <div class="app-inner-layout__content card">
            <div class="app-inner-layout__top-pane pr-2">
                <div class="pane-left">
                    <div class="mobile-app-menu-btn">
                        <button type="button" class="hamburger hamburger--elastic" [ngClass]="{'is-active' : toggleMobileSidebar}" (click)="toggleMobileSidebar = !toggleMobileSidebar">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
                    </div>

                </div>

            </div>

            <div class="form-register">
                <div class="container">
                    <div class="row justify-content-md-center">

                        <form>
                            <input name="CategoryID" type="hidden" value="✓" />

                            <div class="input-icone">
                                <input type="text" name="CategoryName" placeholder="titre" lass="form-control" required="required" />
                                <i class="fa fa-envelope-open fa-lg fa-fw" aria-hidden="true"></i>

                                <input type="submit" value="Ajouter" class="btn btn-primary" />
                                <!-- close .form-group -->
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <br>
            <table class="table table-bordered">
                <tr>
                    <th>CategoryID</th>
                    <th>CategoryName</th>
                    <th>Operations</th>
                </tr>
                <tr>
                    <td> category.CategoryID }}</td>
                    <td> category.CategoryName }}</td>
                    <td>
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="delete"><i class="fa fa-trash" aria-hidden="true"></i
                  ></a>
                    </td>
                </tr>
            </table>