<div class="modal-header">
    <h4 class="modal-title">Ajouter Categorie</h4>
    <button type="button" class="close" aria-label="Close" (click)="('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
</div>
<form>

    <div class="modal-body">

        <div class="card-body">

            <div class="col-md-12 col-md-offset-2">
                <div class="row main-section">
                    <div class="col-md-12 col-sm-12 header">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h1><i class="fa fa-cloud" aria-hidden="true"></i> SHOPNAME</h1>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                <p>Invoice #555</p>
                                <span>May 6 ,2017</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 content">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <p>To.</p>
                                <p>Mr. Piyush Kamani</p>
                                <p>Current Add.</p>
                                <p>New York USA</p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                <p>From</p>
                                <p>ShopName</p>
                                <p>Shop Add. 555</p>
                                <p>Los Angel USA</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 text-right">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th>Unit Price</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Product Name</td>
                                    <td>10</td>
                                    <td>$10</td>
                                    <td>$100</td>
                                </tr>
                                <tr>
                                    <td>Name Of The Product</td>
                                    <td>1</td>
                                    <td>$10</td>
                                    <td>$100</td>
                                </tr>
                                <tr>
                                    <td>Product Name</td>
                                    <td>1</td>
                                    <td>$10</td>
                                    <td>$100</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Subtotal</td>
                                    <td>$300</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Tax</td>
                                    <td>10%</td>
                                </tr>
                                <tr>
                                    <th colspan="3" style="text-align: right;">Total:</th>
                                    <th>$330</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 col-sm-12 lastSection">
                        <p>
                            Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit, </b>sed do eiusmod tempor incididunt ut labore et dolore aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p><br>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" id="add-categorie-form" class="btn btn-danger" (click)="('Close click')">Fermer</button>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>
</form>