<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">
    <div class="col-md-12">
        <div class="card main-card mb-3">
            <div class="card-header">
                Basic
            </div>

            <div class="card-body">
                <div class="example-container">
                    <mat-form-field>
                        <input matInput placeholder="Enter your email" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Input">
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput placeholder="Textarea"></textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Select">
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Select me">
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>