<div class="app-inner-layout">
    <div class="app-inner-layout__header bg-white
    ">
        <div class="container">
            <div class="row">
                <h5 class="pr-4 bread-crumb">Receptacle</h5>
                <h5 class="pr-4">></h5>
                <h5 class="text-warning bread-crumb">Waste + Recycling</h5>
            </div>
            <div class="row justify-content-between px-4">
                <div class="block text-center">
                    <p class="my-3 prod-name">Stream Receptacles</p> <img class="image" src="https://i.imgur.com/57tvLxH.jpg">
                    <div class="price">
                        <h6 class="mb-0">$322</h6>
                    </div>
                </div>
                <div class="block text-center">
                    <p class="my-3 prod-name">TRIO-$</p> <img class="image" src="https://static.remove.bg/remove-bg-web/2a274ebbb5879d870a69caae33d94388a88e0e35/assets/start-0e837dcc57769db2306d8d659f53555feb500b3c5d456879b9c843d1872e7baa.jpg">
                    <div class="price">
                        <h6 class="mb-0">$1,132</h6>
                    </div>
                </div>
                <div class="block text-center">
                    <p class="my-3 prod-name">ReSort</p> <img class="image" src="https://i.imgur.com/raRy5I0.jpg">
                    <div class="price">
                        <h6 class="mb-0">$1,431</h6>
                    </div>
                </div>
                <div class="block text-center">
                    <p class="my-3 prod-name">HexBin</p> <img class="image" src="https://i.imgur.com/baenb3V.jpg">
                    <div class="price">
                        <h6 class="mb-0">$960</h6>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between px-4">
                <div class="block text-center">
                    <p class="my-3 prod-name">Stream Receptacles</p> <img class="image" src="https://i.imgur.com/57tvLxH.jpg">
                    <div class="price">
                        <h6 class="mb-0">$322</h6>
                    </div>
                </div>
                <div class="block text-center">
                    <p class="my-3 prod-name">TRIO-$</p> <img class="image" src="https://i.imgur.com/gA5mCux.jpg">
                    <div class="price">
                        <h6 class="mb-0">$1,132</h6>
                    </div>
                </div>
                <div class="block text-center">
                    <p class="my-3 prod-name">ReSort</p> <img class="image" src="https://i.imgur.com/raRy5I0.jpg">
                    <div class="price">
                        <h6 class="mb-0">$1,431</h6>
                    </div>
                </div>
                <div class="block text-center">
                    <p class="my-3 prod-name">HexBin</p> <img class="image" src="https://i.imgur.com/baenb3V.jpg">
                    <div class="price">
                        <h6 class="mb-0">$960</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>