body
  color: #000
  overflow-x: hidden
  background-color: #FFFF00
  background-repeat: no-repeat

.bread-crumb
  cursor: pointer

  &:hover
    text-decoration: underline

.block
  position: relative
  background-color: #fff
  width: 24%
  height: 300px
  border: 2px solid #E0E0E0
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2)
  cursor: pointer
  margin-bottom: 25px

  &.active
    border: 2px solid #FBC02D
    box-shadow: 0 4px 8px 0 #FBC02D

.price
  position: absolute
  background-color: #E0E0E0
  padding: 25px 10px
  top: 70%
  left: 66%
  border-radius: 50%
  width: 70px
  height: 70px

  &.active
    background-color: #FBC02D
    box-shadow: 0 3px 6px 0 #FBC02D

.image
  width: 150px
  height: 180px

.prod-name
  font-size: 20px

@media screen and (max-width: 992px)
  .block
    width: 48%

@media screen and (max-width: 768px)
  .block
    width: 98%

.trash
  color: rgb(209, 91, 71)

.flag
  color: rgb(248, 148, 6)

.panel-body
  padding: 0px

.panel-footer .pagination
  margin: 0

.panel .glyphicon, .list-group-item .glyphicon
  margin-right: 5px

.panel-body .radio, .checkbox
  display: inline-block
  margin: 0px

.list-group-item:hover, a.list-group-item:focus
  text-decoration: none
  background-color: rgb(245, 245, 245)

.list-group
  margin-bottom: 0px