<div class="app-inner-layout">

    <div class="app-inner-layout__header bg-night-fade">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-list"></i></div>
                    <div>
                        Liste Des Factures
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="main-card mb-3 card">

    <div class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
            <thead>
                <tr>
                    <th class="text-center">Code Facture</th>
                    <th class="text-center">Client</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Réglement</th>
                    <th class="text-center"> Date</th>
                    <th class="text-center">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of cmd">
                    <td class="text-center text-muted" style="width: 80px;">Facture n° {{f?.idCommande}}</td>

                    <td class="text-center">
                        <a [routerLink]="">{{f?.client?.idClient}}</a>
                    </td>
                    <td class="text-center"><a [routerLink]="">{{f?.montant_total}} Dt</a></td>
                    <td class="text-center">
                        <div class="badge badge-pill badge-danger">Non Payé</div>
                    </td>
                    <td class="text-center">
                        <span class="pr-2 opacity-6">
              <i class="fa fa-business-time"></i>
            </span> {{f?.date}}
                    </td>

                    <td class="text-center">
                        <div role="group" class="btn-group-sm btn-group">
                            <span class="fa fa-eye"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>