<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHoverMouseIn()" (mouseout)="sidebarHoverMouseOut()">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar();">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
        </div>
    </div>
    <div class="app-sidebar-content">
        <div class="app-sidebar-scroll">
            <perfect-scrollbar [autoPropagation]="true" class="scroll-container" [config]="config" [scrollIndicators]="true" style="max-width: 600px; max-height: 600px;">
                <div class="v-sidebar-menu vsm-default">
                    <div class="vsm-list">
                        <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" #acc="ngbAccordion" activeIds="{{extraParameter}}">
                            <ngb-panel>

                            </ngb-panel>
                            <ngb-panel id="dashboards">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-rocket"></i>
                    <span class="vsm-title">Dashboards</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLink="/dashboards/analytics" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                                                    <span class="vsm-title">Produit</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLink="/dashboards/dashClient" routerLinkActive="active-item" class="vsm-link">
                                                    <span class="vsm-title">Client</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLink="/dashboards/management" routerLinkActive="active-item" class="vsm-link">
                                                    <span class="vsm-title">Commercial</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="pagesMenu">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Utilisateurs</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/utilisateurs/ajouterUser" class="vsm-link">
                                                    <span class="vsm-title">Ajouter utilisateur
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/utilisateurs/listUser" class="vsm-link">
                                                    <span class="vsm-title">Liste des utilisateurs</span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="Factures">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-browser"></i>
                    <span class="vsm-title">Factures</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/facture/listeFacture" class="vsm-link">
                                                    <span class="vsm-title">Liste des factures
                                                    </span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="catalogue">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-rocket"></i>
                    <span class="vsm-title">Catalogue</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLink="/catalogue/ajouterCatalogue" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                                                    <span class="vsm-title">Ajouter Catalogue</span>
                                                </a>
                                            </div>

                                            <div class="vsm-item">
                                                <a routerLink="/catalogue/listCatalogue" routerLinkActive="active-item" class="vsm-link">
                                                    <span class="vsm-title">Liste des  Catalogues</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="Categorie">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-rocket"></i>
                    <span class="vsm-title">Catégorie</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLink="/categorie/ajouterCategorie" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}" class="vsm-link">
                                                    <span class="vsm-title">Ajouter Catégorie</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="apps">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-plugin"></i>

                    <span class="vsm-title">Produits</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/produit/ajouterProduit" class="vsm-link">
                                                    <span class="vsm-title">AjouterProduit</span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>


                            <ngb-panel id="elements">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-diamond"></i>
                    <span class="vsm-title">Commandes</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/commande/validerCmd" class="vsm-link">
                                                    <span class="vsm-title">Valider Commande</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/commande/listCmd" class="vsm-link">
                                                    <span class="vsm-title">List des Commandes</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="components">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-car"></i>
                    <span class="vsm-title">Planing</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <!-- <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/components/tabs" class="vsm-link">
                          <span class="vsm-title">Tabs</span>
                        </a>
                      </div> -->
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/components/calendar" class="vsm-link">
                                                    <span class="vsm-title">Calendar</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="form-elements">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-helm"></i>
                    <span class="vsm-title">Congés</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="conge/listConge" class="vsm-link">
                                                    <span class="vsm-title">List de Demande Congé</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="form-widgets">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-shield"></i>
                    <span class="vsm-title">Réglements</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/reglement/type" class="vsm-link">
                                                    <span class="vsm-title">Type Réglement</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/reglement/listReglement" class="vsm-link">
                                                    <span class="vsm-title">Liste des Réglement</span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="material">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-safe"></i>
                    <span class="vsm-title"> Clients</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/client/localiserClients" class="vsm-link">
                                                    <span class="vsm-title">Localiser Les clients</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/client/listeClients" class="vsm-link">
                                                    <span class="vsm-title">liste des clients</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="form-controls">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-ribbon"></i>
                    <span class="vsm-title">Réclamations</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">

                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/reclamation/listReclamation" class="vsm-link">
                                                    <span class="vsm-title">Liste des Réclamations</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/reclamation/type" class="vsm-link">
                                                    <span class="vsm-title">Type Réclamations</span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <!--<ngb-panel id="layout">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-science"></i>
                    <span class="vsm-title">Objectifs</span>
                    <i class="vsm-arrow"></i>
                  </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/layout/menu" class="vsm-link">
                                                    <span class="vsm-title">Menu</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/layout/cards" class="vsm-link">
                                                    <span class="vsm-title">Cards</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/layout/divider" class="vsm-link">
                                                    <span class="vsm-title">Divider</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/layout/expansion-panel" class="vsm-link">
                                                    <span class="vsm-title">Expansion Panel</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/layout/grid-list" class="vsm-link">
                                                    <span class="vsm-title">Grid list</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/layout/list" class="vsm-link">
                                                    <span class="vsm-title">List</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/layout/tabs" class="vsm-link">
                                                    <span class="vsm-title">Tabs</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/layout/stepper" class="vsm-link">
                                                    <span class="vsm-title">Stepper</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/layout/tree" class="vsm-link">
                                                    <span class="vsm-title">Tree</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/layout/snackbar" class="vsm-link">
                                                    <span class="vsm-title">Snackbar</span>
                                                </a>
                                            </div>
                                            <div class="vsm-item">
                                                <a routerLinkActive="active-item" routerLink="/layout/tooltip" class="vsm-link">
                                                    <span class="vsm-title">Tooltip</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>-->

                        </ngb-accordion>
                        <div class="vsm-item">
                            <a routerLink="/widgets/profile-boxes" routerLinkActive="active-item" class="vsm-link">
                                <i class="vsm-icon pe-7s-id"></i>
                                <span class="vsm-title">Note d'infos</span>
                            </a>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</div>