<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">
    <div class="col-md-6">
        <div class="card main-card mb-3">
            <div class="card-header">
                Basic
            </div>
            <div class="card-body">
                <mat-form-field>
                    <mat-select placeholder="Favorite food">
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{ food.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="card main-card mb-3">
            <div class="card-header">
                Select with option groups
            </div>
            <div class="card-body">
                <mat-form-field>
                    <mat-select placeholder="Pokemon" [formControl]="pokemonControl">
                        <mat-option>-- None --</mat-option>
                        <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name" [disabled]="group.disabled">
                            <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
                                {{ pokemon.viewValue }}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card main-card mb-3">
            <div class="card-header">
                Select with form field features
            </div>
            <div class="card-body">
                <mat-form-field>
                    <mat-select placeholder="Favorite animal" [formControl]="animalControl" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let animal of animals" [value]="animal">
                            {{animal.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
                    <mat-hint>{{animalControl.value?.sound}}</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="card main-card mb-3">
            <div class="card-header">
                Select with multiple selection
            </div>
            <div class="card-body">
                <mat-form-field>
                    <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>