<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">
    <div class="col-md">
        <div class="card main-card mb-3">
            <div class="card-header">
                Basic
            </div>
            <div class="card-body">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Favorite food" value="Sushi">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p>You selected:</p>
                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Leave a comment"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <span matPrefix>+1 &nbsp;</span>
                        <input type="tel" matInput placeholder="Telephone">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="First name">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Last Name ">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <p>
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Address 2"></textarea>
                        </mat-form-field>
                    </p>
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="City">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="State">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
                                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <label for="dateofbirth">Date:</label>
                    <input class="input1" type="date" name="dateofbirth" id="dateofbirth">
                    <style>
                        [type="date"] {
                            background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
                        }
                        
                        [type="date"]::-webkit-inner-spin-button {
                            display: none;
                        }
                        
                        [type="date"]::-webkit-calendar-picker-indicator {
                            opacity: 0;
                        }
                        /* custom styles */
                        
                        body {
                            padding: 4em;
                            background: #e5e5e5;
                            font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
                        }
                        
                        label {
                            display: block;
                        }
                        
                        .input1 {
                            border: 1px solid #c4c4c4;
                            border-radius: 5px;
                            background-color: #fff;
                            padding: 3px 5px;
                            box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
                            width: 190px;
                        }
                    </style>
                </form>
            </div>
        </div>
    </div>
</div>