<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-night-fade">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading"> Commades</div>
                    <div class="widget-subheading">Nombre Total des Commandes</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{nombreCommandes}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Clients</div>
                    <div class="widget-subheading">Nombre Totale des Clients </div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{nombreClient}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-happy-green">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Commerciaux</div>
                    <div class="widget-subheading">Nombre Totale des Commerciaux</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{nombreCommerciaux}}</span></div>
                </div>
            </div>
        </div>
    </div>

</div>

<h2 class="text-center" style="color:#1E90FF">Listes des clients les plus fidéles</h2>
<div class="text-center mb-3">

</div>
<div class="row">
    <div class="col-sm-12 col-lg-6 col-xl-4" *ngFor="let m of meilleur">
        <div class="mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-dark">
                    <div class="menu-header-image opacity-2 dd-header-bg-1"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                            <div class="avatar-icon rounded"><img src="{{m?.avatar}}" alt="Avatar 5"></div>
                        </div>
                        <div>
                            <h5 class="menu-header-title">{{m?.nomCommerciale}}</h5>
                            <h6 class="menu-header-subtitle">{{m?.adresse}}</h6>
                        </div>

                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="widget-content pt-1 pl-0 pr-0">
                        <div class="text-center">
                            <h5 class="widget-heading opacity-4 mb-0">{{m?.email}}</h5>
                            <h6 class="mt-3 mb-3">
                                <span class="pr-2">
                <b class="text-danger">+216</b> {{m?.tel}}
              </span>
                                <span><b class="text-success">+216</b> {{m?.fax}}</span>
                            </h6>
                            <button class="btn-wide btn-pill btn btn-outline-primary">Voir Profile</button>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header" style="color:#1E90FF">Liste des clients les moins fidéles

            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th>Nom et Prénom</th>
                            <th class="text-center">Adresse</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Télephone</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mv of mauvais">
                            <td class="text-center text-muted">#345</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" class="rounded-circle" src="{{mv?.avatar}}" alt="">
                                            </div>
                                        </div>
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">{{mv?.nom}}{{mv?.prenom}}</div>
                                            <div class="widget-subheading opacity-7">{{mv?.nomCommerciale}}</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">{{mv?.adresse}}</td>
                            <td class="text-center">{{mv?.email}}</td>
                            <td class="text-center">
                                {{mv?.tel}}
                            </td>

                            <td class="text-center">
                                <button type="button" class="btn btn-primary btn-sm">Voir Profile</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>