body
  font-family: Arial, Helvetica, sans-serif

*
  box-sizing: border-box

.input-container
  display: -ms-flexbox

  /* IE10
  display: flex
  width: 100%
  margin-bottom: 15px

.icon
  padding: 15px
  background:  #8D43AC
  color: white
  min-width: 50px
  text-align: center

.input-field
  width: 100%
  padding: 10px
  outline: none

  &:focus
    border: 2px solid dodgerblue

/* Set a style for the submit button

.btn
  background-color:  #8D43AC
  color: white
  padding: 15px 20px
  border: none
  cursor: pointer
  width: 100%
  opacity: 0.9

  &:hover
    opacity: 1
    
h1, p
  margin: 0px

.main-section
  background-color: #FFF
  border: 1px solid #8D43AC

.header
  background-color: #8D43AC
  padding: 30px 15px 20px 15px
  color: #fff

.content
  padding: 20px 15px 20px 15px

th
  background-color: #8D43AC
  color: #fff
  text-align: right

.table
  td:nth-child(1), th:nth-child(1)
    text-align: left

.lastSection
  padding: 20px 15px 30px 15px