<div class="app-inner-layout">

    <div class="app-inner-layout__header bg-heavy-rain">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><i class="fa fa-money"></i></div>
                    <div>
                        Ajouter Type de Réglement
                        <div class="page-title-subheading">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="app-inner-layout__wrapper">
        <div class="app-inner-layout__content card">
            <div class="app-inner-layout__top-pane pr-2">
                <div class="pane-left">
                    <div class="mobile-app-menu-btn">
                        <button type="button" class="hamburger hamburger--elastic">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
                    </div>

                </div>

            </div>

            <div class="form-register">
                <div class="container">
                    <div class="row justify-content-md-center">

                        <form #form="ngForm" autocomplete="off" (submit)="onsubmit(form)">
                            <input name="idTypeReg" type="hidden" value="✓" #idTypeReg="ngModel" [(ngModel)]="service.formData.idReglement" />
                            <div class="input-container">
                                <i class="fa fa-file-text-o icon"></i>
                                <input class="input-field" type="text" placeholder="type" name="typeName" #typeName="ngModel" [(ngModel)]="service.formData.typeName">


                            </div>

                            <button type="submit" class="btn" [disabled]="form.invalid">Ajouter</button>

                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center"> Type de réglement</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let type of TypeList">
                            <td (click)="ToForm(type)" class="text-center text-muted">{{type.idTypeReg}}</td>
                            <td (click)="ToForm(type)" class="text-center">{{type.typeName}}</td>
                            <td class="text-center">
                                <button type=" button " class=" btn-info btn-sm mr-2 "><i class="fa fa-edit "></i></button>
                                <button class="button " class=" btn-danger btn-sm mr-2 "><i class="fa fa-trash "></i></button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>